@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black: rgba(45, 45, 45, 1);
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --body-link-font-family: "Inter", Helvetica;
  --body-link-font-size: 16px;
  --body-link-font-style: normal;
  --body-link-font-weight: 400;
  --body-link-letter-spacing: 0px;
  --body-link-line-height: 139.9999976158142%;
  --body-text-font-family: "Epilogue", Helvetica;
  --body-text-font-size: 17px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 27px;
  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-background-neutral-default: var(--color-primitives-slate-700);
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-border-neutral-secondary: var(--color-primitives-slate-600);
  --color-primitives-brand-100: rgba(245, 245, 245, 1);
  --color-primitives-brand-800: rgba(44, 44, 44, 1);
  --color-primitives-brand-900: rgba(30, 30, 30, 1);
  --color-primitives-brand-b-800: rgba(119, 0, 0, 1);
  --color-primitives-gray-300: rgba(217, 217, 217, 1);
  --color-primitives-gray-400: rgba(179, 179, 179, 1);
  --color-primitives-gray-600: rgba(68, 68, 68, 1);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-slate-400: rgba(178, 178, 178, 1);
  --color-primitives-slate-500: rgba(148, 148, 148, 1);
  --color-primitives-slate-600: rgba(118, 118, 118, 1);
  --color-primitives-slate-700: rgba(90, 90, 90, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-primitives-white-400: rgba(255, 255, 255, 0.4);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-tertiary: var(--color-primitives-gray-400);
  --grey: rgba(230, 216, 203, 1);
  --h1-font-family: "Epilogue", Helvetica;
  --h1-font-size: 68px;
  --h1-font-style: normal;
  --h1-font-weight: 600;
  --h1-letter-spacing: 0px;
  --h1-line-height: normal;
  --h1-mobile-font-family: "Epilogue", Helvetica;
  --h1-mobile-font-size: 65px;
  --h1-mobile-font-style: normal;
  --h1-mobile-font-weight: 600;
  --h1-mobile-letter-spacing: 0px;
  --h1-mobile-line-height: normal;
  --h2-font-family: "Epilogue", Helvetica;
  --h2-font-size: 32px;
  --h2-font-style: normal;
  --h2-font-weight: 600;
  --h2-letter-spacing: 0px;
  --h2-line-height: 42px;
  --h3-font-family: "Epilogue", Helvetica;
  --h3-font-size: 27px;
  --h3-font-style: normal;
  --h3-font-weight: 600;
  --h3-letter-spacing: 0px;
  --h3-line-height: 42px;
  --pink: rgba(227, 148, 167, 1);
  --rosa-claro: rgba(241, 187, 187, 1);
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-font-style: normal;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --size-radius-200: 8px;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-space-400: 16px;
  --size-space-600: 24px;
  --subtitle-font-family: "Epilogue", Helvetica;
  --subtitle-font-size: 20px;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 600;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: 30px;
  --white: rgba(255, 255, 255, 1);
  --x-1: rgba(47, 53, 89, 1);
  --x-2: rgba(154, 80, 113, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-background-neutral-default: var(--color-primitives-slate-700);
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-border-neutral-secondary: var(--color-primitives-slate-600);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-tertiary: var(--color-primitives-gray-400);
}

[data-color-mode="SDS-dark"] {
  --color-background-brand-default: var(--color-primitives-brand-100);
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-background-neutral-default: var(--color-primitives-slate-400);
  --color-border-brand-default: var(--color-primitives-brand-100);
  --color-border-default-default: var(--color-primitives-gray-600);
  --color-border-neutral-secondary: var(--color-primitives-slate-500);
  --color-text-brand-on-brand: var(--color-primitives-brand-900);
  --color-text-default-default: var(--color-primitives-white-1000);
  --color-text-default-tertiary: var(--color-primitives-white-400);
}

[data-color-mode="brand-b-light"] {
  --color-background-brand-default: var(--color-primitives-brand-b-800);
  --color-background-default-default: var(--color-primitives-white-1000);
  --color-background-neutral-default: var(--color-primitives-slate-700);
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-border-neutral-secondary: var(--color-primitives-slate-600);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-tertiary: var(--color-primitives-gray-400);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

